*{
    
    font-family: 'Inter';
    font-weight: 400;
    
}

body{
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

header{
    position: absolute;
    width: 1000px;
    height: 88px;
}

.logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

main{
    position: absolute;
    width: 1440px;
    height: 992px;
}

.text-area{
    position: absolute;
    width: 680px;
    height: 650px;
    left: 240px;
    top: 168px;
    border: none;
    font-size: 32px;
    line-height: 150%;
    color:#0A3871;
    text-transform: lowercase;
    background: #F3F5FC;
    resize: none;
}
::placeholder{
    color: #0A3871;
}
.text-area:focus{
    outline: none;
}

.informacion{
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
    margin: 0
}

.botones{
    margin: auto;
}

.botones button, .btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 336px;
    height: 67px;
}

.btn-desencriptar{
    color: #0A3871;
}

.btn-encriptar{
    background-color: #0A3871;
    color: white;
}

.mensaje{
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1000px;
    top: 40px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 131px;
    background: #FFFFFF;
    background-image: url(./imagenes/Munheco.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    resize: none;
}
.mensaje:focus{
    outline: none;
}
.mensaje::placeholder{
    text-align: center;
    padding-top: 600px;
}


.btn-copiar{
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    color: #0A3871;
}

footer{
    position: absolute;
    width: 1440px;
    height: 32px;
    left: 8px;
    top: 1000px;
    margin: 0px auto;
    text-align: center;
}